<p style="color: green"><%= notice %></p>

<h1>Notifications</h1>

<div id="notifications">
  <% current_user.notifications.each do |notification| %>
    <%= render notification %>
  <% end %>
</div>
