<div id="<%= dom_id friend_request %>">
  <div>friend request from: <%= friend_request.sender.email %></div>
  <%= button_to 'Accept', friend_request, 
                        method: :delete,
                        data: { turbo_confirm: "Are you sure?" } %>

</div>
