<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<hr>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <hr>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
